:root{
	--color-accent:#42636b;
}

body {
    font: 100%/1.5 system-ui;
	max-width: 100%;
	margin-inline: 30px;
	padding: 5em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	text-wrap: balance;
}
h1{
	font-size: 400%;
}
h2{
	font-size: 80%;
}
li, ul{
	display: contents;
	}
caption{
	text-align: left;
}
nav{

	display: flex;
	border-bottom: 1px solid oklch(80% 3% 200);
	margin-bottom: 70px;
	a{
		flex: 1;
		text-decoration: none;
		color: inherit;
		text-align: center;
		padding: 0.5em;
	}
	a:hover{
		border-bottom: 0.2em solid var(--color-accent);
	}
}
.current{
	border-bottom: 0.2em solid oklch(90% 3% 200);
} 

#label, input, textarea, button {
	/* Make these elements behave like block elements,
	   i.e. create line breaks before and after
	 */
	display: block;
	font: inherit;
}
form, label{
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;
	align-items: first baseline;
}
button{
	margin-top: 20px;
	max-width: 5em;
	align-items: center;
}

label {
	/* Add some space before and after each label */
	margin-block: 1em; /* em is a unit that scales with the font size */
}

input, textarea {
	/* Fill the whole available width. */
	width: 100%;

	/* Special sizing mode that makes the element’s width
	   include internal spacing (padding) and borders
	 */
	box-sizing: border-box;

	/* Use the same font and font metrics as the rest of the page */
	font: inherit;
}
img {
	max-width: 250px;
}
.projects{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	gap: 0.5em;
}
article{
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
	h2 {
		margin: 0;
	}
}